.auth_user {
    position: absolute;
    left: 0%;
    right: 60.22%;
    top: 0%;
    bottom: 0%;

    font-family: Gabriela;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;

    color: #000000;
}

.auth_user_li {
    position: absolute;
    left: 10.73%;
    right: 70.94%;
    top: 40.18%;
    bottom: 39.29%;

    color: #000000;
}

#auth_user_li_logout {
    position: absolute;
    left: 100.82%;
    right: 7.13%;

    color: #000000;
}
