.header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 88.43%;
    z-index: 1;

    background: linear-gradient(180deg, #6F97FF 0%, #ADBAFF 19.27%, #DFB7FF 100%);
}

#header_ad {
    position: absolute;
    left: 67.5%;
    right: 3.8%;
    top: 40%;
    bottom: 24%;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
