.content_main {
    position: absolute;
    left: 3.54%;
    right: 7.4%;
    top: 2.72%;
    bottom: 9.95%;

    box-sizing: border-box;

    font-family: "Papyrus";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;

    color: #000000;
}

#page_title {
    position: absolute;
    left: 4.39%;
    right: 14.15%;
    top: 4.92%;
    bottom: 82.49%;

    font-family: "Gabriola" ;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;

    color: #000000;
}

.content_options {
    position: absolute;
    left: 11.29%;
    right: 50%;
    top: 19.9%;
    bottom: 64.27%;
}

#content_my_con {
    position: absolute;
    left: 4.39%;
    right: 57.78%;
    top: 40.65%;
    bottom: 51.08%;
}

#content_tariffs {
    position: absolute;
    left: 4.62%;
    right: 43.16%;
    top: 50%;
    bottom: 40.65%;
}
