.content {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 11.57%;
    bottom: 0%;

    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 235, 165, 0) 0%, #FFF1BE 100%);
}

.content_main {
    position: absolute;
    left: 3.54%;
    right: 7.4%;
    top: 2.72%;
    bottom: 9.95%;
}

.page_title {
    position: absolute;
    left: 6.84%;
    right: 60.36%;
    top: 9.47%;
    bottom: 80.58%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

.content_data {
    position: absolute;
    left: 6.84%;
    right: 23.74%;
    top: 25.9%;
    bottom: 5.4%;
}

.content_data_table {
    position: absolute;
    left: 4.55%;
    right: 28.05%;
    top: 16.06%;
    bottom: 65.45%;

    background: #FFF9EB;
    border: 1px solid #B9B9B9;
    box-sizing: border-box;
    border-radius: 2px;
}

#content_hint {
    position: absolute;
    left: 20.33%;
    right: 15.05%;
    top: 5.41%;
    bottom: 87.26%;

    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}
