.footer {
    position: fixed;
    left: 0%;
    right: 0%;
    top: 90.09%;
    bottom: 0%;

    z-index: 3;
    background: linear-gradient(360deg, rgba(255, 88, 51, 0.74) 0%, rgba(255, 228, 157, 0.1) 100%);
}


#footer_copyright {
    position: absolute;
    left: 90.03%;
    right: 2%;
    top: 37.38%;
    bottom: 19.63%;

    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 46px;

    z-index: inherit;
    color: #000000;
}
