.auth{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 88.43%;
    z-index: 7;

    background: linear-gradient(180deg, #6F97FF 0%, #ADBAFF 19.27%, #DFB7FF 100%);
}

.auth_user {
    position: absolute;
    left: 6.28%;
    right: 7.93%;
    top: 0%;
    bottom: 0%;

    font-family: Gabriola;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 23px;
}

.auth_user_li {
    position: absolute;
    left: 2.73%;
    right: 60.94%;
    top: 40.18%;
    bottom: 39.29%;

    color: #000000;
}

#auth_user_li_logout {
    position: absolute;
    left: 200.82%;
    right: 7.13%;

    color: #000000;

}
