.leftnav {
    position: fixed;
    left: 0%;
    right: 72.08%;
    top: 0%;
    bottom: 0%;

    z-index: 5;
    box-shadow: 10px 0px 10px 10px rgba(0, 5, 133, 0.45);
}

#leftnav_oddman_word {
    position: absolute;
    left: 10.25%;
    right: 31.35%;
    top: 5.56%;
    bottom: 88.16%;

    font-family: Gabriola;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;

    color: #000000;

}

.leftnav_text {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 11.57%;
    bottom: 0%;
    z-index: 6;

    font-size: 18px;
    background: linear-gradient(192.22deg, rgba(152, 126, 255, 0.54) 0%,
    rgba(133, 102, 255, 0.15) 16.74%, rgba(51, 0, 255, 0) 91.8%),
    linear-gradient(180deg, #987EFF 0%, #B6A4FF 21.35%, #E2DBFF 100%);
}

#leftnav_long_walk {
    position: absolute;
    left: 10.26%;
    right: 3.84%;
    top: 16.02%;
    bottom: 80.73%;

    font-family: Abel;
    font-style: normal;
    font-weight: normal;
    line-height: 31px;

    color: #000000;
}

.leftnav_prov_system {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 25.65%;
    bottom: 40.52%;

    font-family: Arial;
    font-size: 18px;
}

#leftnav_prov_system_title {
    position: absolute;
    left: 11.57%;
    right: 31.6%;
    top: 11.76%;
    bottom: 75.85%;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    /* identical to box height */


    color: #000000;
}

.leftnav_prov_system_lists {
    position: absolute;
    left: 11.57%;
    right: 24.34%;
    top: 30.8%;
    bottom: 21.05%;

    font-style: normal;
    font-weight: normal;
    line-height: 30px;

    color: #000000;

}

.leftnav_prov_system_add {

    position: absolute;
    left: 11.57%;
    right: 23.01%;
    top: 89.42%;
    bottom: 7.29%;

    font-style: normal;
    font-weight: normal;
    line-height: 30px;

    color: #000000;
}

.leftnav_additional {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 65.48%;
    bottom: 0%;

    font-family: Arial;
    color: #000000;
}

#leftnav_additional_title {
    position: absolute;
    left: 10.63%;
    right: 32.54%;
    top: 10.16%;
    bottom: 80.32%;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 41px;

    color: #000000;
}

.leftnav_additional_action {
    position: absolute;
    left: 10.63%;
    right: 22.19%;
    top: 29.97%;
    bottom: 55.64%;

    font-style: normal;
    font-weight: normal;
    line-height: 31px;
}
