.content {
    position: absolute;
    left: 27.92%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    z-index: 1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 235, 165, 0) 0%, #FFF1BE 100%);
}

.content_main {
    position: absolute;
    left: 3.54%;
    right: 1.73%;
    top: 2.69%;
    bottom: 9.91%;
}

.content_head {
    position: absolute;
    left: 0%;
    right: 1.68%;
    top: 0%;
    bottom: 66.21%;

    font-family: Cambria;
    font-size: 24px;
}

#content_head_title {
    position: absolute;
    left: 2.89%;
    right: 75.46%;
    top: 0%;
    bottom: 73.28%;

    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 30px;

    color: #000000;
}

.content_head_form {
    position: absolute;
    left: 2.87%;
    right: 18.15%;
    top: 35.42%;
    bottom: 3.45%;

    font-size: 18px;

    color: #000000;
}

.content_head_form span {
    font-size: 20px;
    line-height: 22px;
}

#sort_field_label {
    position: absolute;
    left: 3.36%;
    right: 79.62%;
    top: 12.46%;
    bottom: 71.38%;
}

#sort_field_select {
    position: absolute;
    left: 24%;
    right: 48.23%;
    top: 8.94%;
    bottom: 67.98%;

    background: #FFF9EB;
}

#order_label {
    position: absolute;
    left: 3.36%;
    right: 81.51%;
    top: 61.84%;
    bottom: 22%;
}

#order_label_asc {
    position: absolute;
    left: 29.6%;
    right: 48.24%;
    top: 51.15%;
    bottom: 30.07%;
}

#order_label_desc {
    position: absolute;
    left: 29.6%;
    right: 48.24%;
    top: 75.76%;
    bottom: 5.46%;
}

#order_radio_asc {
    position: absolute;
    left: 24%;
    right: 72.74%;
    top: 53.17%;
    bottom: 30.8%;
}

#order_radio_desc {
    position: absolute;
    left: 23.99%;
    right: 72.75%;
    top: 77.56%;
    bottom: 6.41%;
}

#sort_button {
    position: absolute;
    left: 60.06%;
    right: 2%;
    top: 40.1%;
    bottom: 30%;

    font-size: 20px;
}

.content_data {
    position: absolute;
    left: 0%;
    right: 1.68%;
    top: 37.08%;
    bottom: 9.43%;

    overflow: scroll;
    scrollbar-arrow-color: #6d058d;
    scrollbar-base-color-color: #FFF9EB;
}

.content_data_table {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFF9EB;
}
